.heading {
    text-align: center;
    background-color: #f2d388;
    padding-top: 8%;
}
.title {
    color: #c98474;
    margin:0;
    position: absolute;
    top: 15px;
    left: 20px;
}
.main-img {
    margin-left: 15%;
}
h3 {
    color: #c98474;
    word-spacing: 5em;
    position: absolute;
    top: 25px;
    Left: 55%;
}
h1 {
    font-size: 55px;
}
.promt {
    position: absolute;
    top: 60%;
    left: 25%
}
body {
    margin: 0;
}

.bottom {
    padding: 10%;
}
.subscribe-button {
    background-color: white;
}
